.glow-green-weak {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #00ff00;
}

.glow-green-strong {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #00ff00,
  0 0 40px #00ff00,
  0 0 50px #00ff00,
  0 0 60px #00ff00,
  0 0 70px #00ff00;
}

.glow-red-weak {
  text-shadow: 0 0 10px #fff, 0 0 15px #fff,
  0 0 20px #fff,
  0 0 30px #ff0000;
}

.glow-red-strong {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #ff0000,
  0 0 40px #ff0000,
  0 0 50px #ff0000,
  0 0 60px #ff0000,
  0 0 70px #ff0000;
}

.glow-blue-weak {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #0000ff;
}

.glow-blue-strong {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #0000ff,
  0 0 40px #0000ff,
  0 0 50px #0000ff,
  0 0 60px #0000ff,
  0 0 70px #0000ff;
}

.glow-purple-weak {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #800080;
}

.glow-purple-strong {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #800080,
  0 0 40px #800080,
  0 0 50px #800080,
  0 0 60px #800080,
  0 0 70px #800080;
}
