* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.max-w-sm {
    max-width: 24rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.p-1 {
    padding: 0.25rem;
}
.font-bold {
    font-weight: 900;
}

.animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
}
/* Define a custom icon */
.pi.console-icon {
    display: inline-block;
    width: 1em; /* Matches PrimeIcons */
    height: 1em;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M9.4 86.6C-3.1 74.1-3.1 53.9 9.4 41.4s32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 9.4 86.6zM256 416l288 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M9.4 86.6C-3.1 74.1-3.1 53.9 9.4 41.4s32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 9.4 86.6zM256 416l288 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z'/%3E%3C/svg%3E");
    background-color: currentColor; /* Matches theme color */
    mask-size: cover;
    -webkit-mask-size: cover;
}
.pi.docker {
    display: inline-block;
    width: 1.07em; /* Matches PrimeIcons */
    height: 1em;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4 .4 67.6 .1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4 .4 67.6 .1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z'/%3E%3C/svg%3E");
    background-color: currentColor; /* Matches theme color */
    mask-size: cover;
    -webkit-mask-size: cover;
}

.pi.test-virus-icon {
    display: inline-block;
    width: 1em; /* Matches PrimeIcons */
    height: 1em;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l0 288c0 53 43 96 96 96c28.6 0 54.2-12.5 71.8-32.3c.1-14.2 5.6-28.3 16.4-39.1c.2-.2 .1-.6-.2-.6c-30.9 0-56-25.1-56-56s25.1-56 56-56c.3 0 .4-.4 .2-.6c-21.9-21.9-21.9-57.3 0-79.2c2.4-2.4 5-4.6 7.8-6.5L224 96c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0L96 32 32 32zM96 192l0-96 64 0 0 96-64 0zM216 376c28.8 0 43.2 34.8 22.9 55.2c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0c20.4-20.4 55.2-5.9 55.2 22.9c0 13.3 10.7 24 24 24s24-10.7 24-24c0-28.8 34.8-43.2 55.2-22.9c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9C444.8 410.8 459.2 376 488 376c13.3 0 24-10.7 24-24s-10.7-24-24-24c-28.8 0-43.2-34.8-22.9-55.2c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0C410.8 259.2 376 244.8 376 216c0-13.3-10.7-24-24-24s-24 10.7-24 24c0 28.8-34.8 43.2-55.2 22.9c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9c20.4 20.4 5.9 55.2-22.9 55.2c-13.3 0-24 10.7-24 24s10.7 24 24 24zm104-88a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm40 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l0 288c0 53 43 96 96 96c28.6 0 54.2-12.5 71.8-32.3c.1-14.2 5.6-28.3 16.4-39.1c.2-.2 .1-.6-.2-.6c-30.9 0-56-25.1-56-56s25.1-56 56-56c.3 0 .4-.4 .2-.6c-21.9-21.9-21.9-57.3 0-79.2c2.4-2.4 5-4.6 7.8-6.5L224 96c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0L96 32 32 32zM96 192l0-96 64 0 0 96-64 0zM216 376c28.8 0 43.2 34.8 22.9 55.2c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0c20.4-20.4 55.2-5.9 55.2 22.9c0 13.3 10.7 24 24 24s24-10.7 24-24c0-28.8 34.8-43.2 55.2-22.9c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9C444.8 410.8 459.2 376 488 376c13.3 0 24-10.7 24-24s-10.7-24-24-24c-28.8 0-43.2-34.8-22.9-55.2c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0C410.8 259.2 376 244.8 376 216c0-13.3-10.7-24-24-24s-24 10.7-24 24c0 28.8-34.8 43.2-55.2 22.9c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9c20.4 20.4 5.9 55.2-22.9 55.2c-13.3 0-24 10.7-24 24s10.7 24 24 24zm104-88a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm40 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E");
    background-color: currentColor; /* Matches theme color */
    mask-size: cover;
    -webkit-mask-size: cover;
}



.card-small {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 1rem;
    margin-bottom: 0;
    box-shadow: var(--card-shadow);;
    border-radius: 12px;
}
.layout-main-container-fullscreen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 2rem;
    transition: margin-left 0.2s;
}
.animate-pulse-fast {
    animation: pulse 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
    }
}
.animate-pulse-fast-super {
    animation: pulse 0.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
    }
}
.animate-pulse-fast-lite {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
}

/* Updated Animation: Trail Effect */
.animate-trail {
    animation: trail 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Keyframes for Trail Effect */
@keyframes trail {
    0% {
        transform: scale(1);
        opacity: 0.6;
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.2);
    }
    50% {
        transform: scale(1.15);
        opacity: 1;
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.4);
    }
    100% {
        transform: scale(1);
        opacity: 0.6;
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.2);
    }
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}






.animated-gradient-text {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    /* 20px */
    font-weight: 500;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.5s ease-out;
    overflow: hidden;
    cursor: pointer;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 300% 100%;
    animation: gradient linear infinite;
    border-radius: inherit;
    z-index: 0;
    pointer-events: none;
}

.gradient-overlay::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #060606;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-content {
    display: inline-block;
    position: relative;
    z-index: 2;
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient linear infinite;
}

.shiny-text {
    color: #b5b5b5a4; /* Adjust this color to change intensity/style */
    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}
.focus-container {
    position: relative;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Words */
.focus-word {
    position: relative;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    transition:
        filter 0.3s ease,
        color 0.3s ease;
}

.focus-word.active {
    filter: blur(0);
}

.focus-frame {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    box-sizing: content-box;
    border: none;
}

.corner {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--border-color, #fff);
    filter: drop-shadow(0px 0px 4px var(--border-color, #fff));
    border-radius: 3px;
    transition: none;
}

.top-left {
    top: -10px;
    left: -10px;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: -10px;
    right: -10px;
    border-left: none;
    border-bottom: none;
}

.bottom-left {
    bottom: -10px;
    left: -10px;
    border-right: none;
    border-top: none;
}

.bottom-right {
    bottom: -10px;
    right: -10px;
    border-left: none;
    border-top: none;
}


.glitch {
    color: #fff;
    font-size: clamp(2rem, 10vw, 8rem);
    white-space: nowrap;
    font-weight: 900;
    position: relative;
    margin: 0 auto;
    user-select: none;
    cursor: pointer;
}

.glitch::after,
.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #060606;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.glitch:not(.enable-on-hover)::after {
    left: 10px;
    text-shadow: var(--after-shadow, -10px 0 red);
    animation: animate-glitch var(--after-duration, 3s) infinite linear alternate-reverse;
}
.glitch:not(.enable-on-hover)::before {
    left: -10px;
    text-shadow: var(--before-shadow, 10px 0 cyan);
    animation: animate-glitch var(--before-duration, 2s) infinite linear alternate-reverse;
}

.glitch.enable-on-hover::after,
.glitch.enable-on-hover::before {
    content: '';
    opacity: 0;
    animation: none;
}

.glitch.enable-on-hover:hover::after {
    content: attr(data-text);
    opacity: 1;
    left: 10px;
    text-shadow: var(--after-shadow, -10px 0 red);
    animation: animate-glitch var(--after-duration, 3s) infinite linear alternate-reverse;
}
.glitch.enable-on-hover:hover::before {
    content: attr(data-text);
    opacity: 1;
    left: -10px;
    text-shadow: var(--before-shadow, 10px 0 cyan);
    animation: animate-glitch var(--before-duration, 2s) infinite linear alternate-reverse;
}

@keyframes animate-glitch {
    0%   { clip-path: inset(20% 0 50% 0); }
    5%   { clip-path: inset(10% 0 60% 0); }
    10%  { clip-path: inset(15% 0 55% 0); }
    15%  { clip-path: inset(25% 0 35% 0); }
    20%  { clip-path: inset(30% 0 40% 0); }
    25%  { clip-path: inset(40% 0 20% 0); }
    30%  { clip-path: inset(10% 0 60% 0); }
    35%  { clip-path: inset(15% 0 55% 0); }
    40%  { clip-path: inset(25% 0 35% 0); }
    45%  { clip-path: inset(30% 0 40% 0); }
    50%  { clip-path: inset(20% 0 50% 0); }
    55%  { clip-path: inset(10% 0 60% 0); }
    60%  { clip-path: inset(15% 0 55% 0); }
    65%  { clip-path: inset(25% 0 35% 0); }
    70%  { clip-path: inset(30% 0 40% 0); }
    75%  { clip-path: inset(40% 0 20% 0); }
    80%  { clip-path: inset(20% 0 50% 0); }
    85%  { clip-path: inset(10% 0 60% 0); }
    90%  { clip-path: inset(15% 0 55% 0); }
    95%  { clip-path: inset(25% 0 35% 0); }
    100% { clip-path: inset(30% 0 40% 0); }
}
.text-9xl {
    font-size: 7.5rem; /* base size */
}

@media (min-width: 768px) {
    .md\:text-9xl {
        font-size: 6rem;
    }
}

@media (min-width: 992px) {
    .lg\:text-9xl {
        font-size: 7rem;
    }
}

@media (min-width: 1200px) {
    .xl\:text-9xl {
        font-size: 7.5rem; /* exactly what you want */
    }
}


